extends layout

block content
  button.btn.btn-default(type='submit') Get Current Counts
  table.table.table-striped.table-condensed.top-buffer
    tr
      th Bulk Loader List
      th List Count
    tr
      td In Process
      td 20
    tr
      td Completed
      td 12  