extends layout

block content
  button.btn.btn-default(type='submit' ng-click="getHubSpotLists") Get Current Counts
  table.table.table-striped.table-condensed.top-buffer
    tr
      th Bulk Loader List
      th List Count
    tr(ng-repeat="hubSpotList in hubSpotLists")
      td {{hubSpotList.listName}}
      td {{hubSpotList.lastCount}}