extends layout

block content

  table.table.table-striped
    thead
      tr
        th Bulk Loader List
        th Count
    tbody
      tr
        td In Process
        td 10
      tr
        td Declined
        td 15
